head
  link(rel='stylesheet' href='/my.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .name {
    width: 100px;
    margin: 20px;
    }
    .whole {
    width: 20px;
    margin: 10px;
    }
    .fraction {
    width: 20px;
    }
    .directions {
    width: 80%;
    height: 20%;
    }
    .button {
    margin: 30px;
    cursor: pointer;
    }
    form {
    text-align: center;
    }
    #image {
    margin-top:20px;
    }
header.header
  h1
    b(style='color: lightpink') Editing: #{title}
.card
  form#add.content(autocomplete='false')
    input#title(autocomplete='off' type='text' name='title' placeholder='Recipe Title')
    table#ingredients(autocomplete='off' style='margin-left: auto; margin-right: auto')
    input#add_ingredient.button(type='button' value='Add Ingredient')
    div
      textarea#directions.directions(name='directions' rows='20' cols='20' placeholder='Recipe Directions')
    br
    label(for='category') Category: 
    select#category(name='category')
      option(value='Other') Other
      option(value='Cakes') Cakes
      option(value='Cookies') Cookies
      option(value='Muffins') Muffins
    br
    input#image(type='file' accept='image/*')
    br
    input#submit.button(type='button' value='Submit')
  #error-message.error
script. 
    let oldTitle=!{JSON.stringify(title)}
    let oldIngredients=!{JSON.stringify(ingredients)}
    let oldDirections=!{JSON.stringify(directions)}
    let oldCategory=!{JSON.stringify(category)}
script(src='/autocomplete.js')
// from w3 schools for auto complete https://www.w3schools.com/howto/howto_js_autocomplete.asp
script(src='/add.js')
script. 
    edit()
